* {
  padding: 0;
  margin: 0;
}

.scrollbar {
  display: block;
  height: 600px;
  overflow-y: auto;
}

th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

table.table tr th:last-child {
  width: 100px;
}

table.table td a {
  display: inline-block;
  padding: 5px;
}

.btn-border-less {
  padding: 0;
  border: none;
  background: none;
}
